In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [2]:
# 파일 불러오기
bat_21_data = pd.read_csv('2021_타격_statiz.csv')
bat_22_data = pd.read_csv('2022_타격_statiz.csv')

bat_data_2324 = pd.read_csv('타격_스탯_연봉_데이터.csv')

In [3]:
bat_21_data = bat_21_data.drop(columns=['Rank'])
bat_22_data = bat_22_data.drop(columns=['Rank'])

In [4]:
bat_21_data.drop(0, axis=0, inplace=True)
bat_22_data.drop(0, axis=0, inplace=True)

In [5]:
bat_21_data.rename(columns={'Sort▼': 'WAR', 'Team': '포지션'}, inplace=True)
bat_22_data.rename(columns={'Sort▼': 'WAR', 'Team': '포지션'}, inplace=True)

player_data_2124.rename(columns={'Sort▼': 'WAR'}, inplace=True)

In [6]:
bat_21_data = bat_21_data.drop(columns=['WAR▼'])
bat_22_data = bat_22_data.drop(columns=['WAR▼'])
player_data_2124 = player_data_2124.drop(columns=['WAR▼'])

In [7]:
bat_21_data['연도'] = 2021
bat_22_data['연도'] = 2022

In [8]:
bat_21_data = bat_21_data.rename(columns={'Name': '선수'})
bat_22_data = bat_22_data.rename(columns={'Name': '선수'})

In [9]:
bat_21_data.drop(columns='포지션', inplace=True)
bat_22_data.drop(columns='포지션', inplace=True)

cols = ['선수', '팀'] + [col for col in bat_21_data.columns if col not in ['선수', '팀']]
bat_21_data = bat_21_data[cols]

cols_2 = ['선수', '팀'] + [col for col in bat_22_data.columns if col not in ['선수', '팀']]
bat_22_data = bat_22_data[cols_2]

In [10]:
bat_21_data['pid'] = bat_21_data['pid'].astype(int)
bat_22_data['pid'] = bat_22_data['pid'].astype(int)

bat_21_data['pid'] = bat_21_data['pid'].astype(str)
bat_22_data['pid'] = bat_22_data['pid'].astype(str)

In [11]:
bat_data_2324.drop(columns='연봉(만원)', inplace=True)

In [12]:
col_rename_map = {
    '비율': 'AVG',
    '비율.1': 'OBP',
    '비율.2': 'SLG',
    '비율.3': 'OPS',
    '비율.4': 'R/ePA',
    '비율.5': 'wRC+'
}
bat_21_data.rename(columns=col_rename_map, inplace=True)
bat_22_data.rename(columns=col_rename_map, inplace=True)

In [13]:
# 팀명-번호 매핑 딕셔너리
team_dict = {
    'KIA 타이거즈': 0,
    '두산 베어스': 1,
    '롯데 자이언츠': 2,
    '삼성 라이온즈': 3,
    'SSG 랜더스': 4,
    'NC 다이노스': 5,
    'LG 트윈스': 6,
    '키움 히어로즈': 7,
    'KT 위즈': 8,
    '한화 이글스': 9,
}

bat_21_data['기존pid'] = bat_21_data['pid']
bat_22_data['기존pid'] = bat_22_data['pid']

bat_21_data['pid'] = bat_21_data['기존pid'].astype(str) + bat_21_data['팀'].map(team_dict).astype(str)
bat_22_data['pid'] = bat_22_data['기존pid'].astype(str) + bat_22_data['팀'].map(team_dict).astype(str)

In [14]:
display(bat_data_2324.head(2))

display(bat_21_data.head(2))
display(bat_22_data.head(2))

,선수,팀,WAR,G,oWAR,dWAR,PA,ePA,AB,R,...,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,pid,연도,기존pid
0,노시환,한화 이글스,6.53,131,6.17,0.35,595,590,514,85,...,3,0.298,0.388,0.541,0.929,0.188,160.0,141259,2023,14125
1,최재훈,한화 이글스,3.23,125,3.03,0.20,417,407,327,23,...,2,0.248,0.392,0.294,0.686,0.131,111.6,101709,2023,10170

,선수,팀,WAR,G,oWAR,dWAR,PA,ePA,AB,R,...,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,pid,연도,기존pid
1,최재훈,한화 이글스,4.91,116,4.22,0.7,467,461,375,52,...,3,0.275,0.405,0.387,0.792,0.159,133.0,101709,2021,10170
2,정은원,한화 이글스,4.45,139,4.84,-0.4,608,604,495,85,...,3,0.283,0.407,0.384,0.791,0.159,132.1,131379,2021,13137

,선수,팀,WAR,G,oWAR,dWAR,PA,ePA,AB,R,...,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,pid,연도,기존pid
1,터크먼,한화 이글스,4.14,144,4.23,-0.09,648,644,575,88,...,2,0.289,0.366,0.43,0.796,0.146,126.5,150129,2022,15012
2,정은원,한화 이글스,3.11,140,3.68,-0.57,601,597,508,67,...,3,0.274,0.377,0.368,0.745,0.135,116.7,131379,2022,13137

In [45]:
df_bat_data = pd.concat([bat_21_data, bat_22_data, bat_data_2324], axis=0, ignore_index=True)
df_bat_data

,선수,팀,WAR,G,oWAR,dWAR,PA,ePA,AB,R,...,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,pid,연도,기존pid
0,최재훈,한화 이글스,4.91,116,4.22,0.7,467,461,375,52,...,3,0.275,0.405,0.387,0.792,0.159,133.0,101709,2021,10170
1,정은원,한화 이글스,4.45,139,4.84,-0.4,608,604,495,85,...,3,0.283,0.407,0.384,0.791,0.159,132.1,131379,2021,13137
2,노시환,한화 이글스,4.18,107,3.61,0.56,458,451,380,56,...,4,0.271,0.386,0.466,0.852,0.17,141.6,141259,2021,14125
3,하주석,한화 이글스,2.93,138,3.17,-0.25,594,589,525,84,...,3,0.272,0.346,0.392,0.738,0.123,102.5,109139,2021,10913
4,김태연,한화 이글스,2.26,53,1.82,0.44,220,220,176,29,...,5,0.301,0.418,0.42,0.838,0.17,143.0,125859,2021,12585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,고영우,키움 히어로즈,-0.42,94,0.01,-0.43,290,286,254,21,...,3,0.256,0.329,0.319,0.648,0.094,73.5,161287,2024,16128
1369,이원석,키움 히어로즈,-0.53,39,-0.33,-0.2,109,109,91,5,...,2,0.22,0.33,0.264,0.594,0.085,66.4,101807,2024,10180
1370,이승원,키움 히어로즈,-0.74,20,-0.53,-0.2,41,39,37,3,...,0,0.108,0.154,0.135,0.289,-0.058,-43.9,154767,2024,15476
1371,임지열,키움 히어로즈,-0.87,22,-0.59,-0.28,57,57,49,4,...,1,0.102,0.211,0.163,0.374,-0.011,-8.3,112257,2024,11225
1372,이재상,키움 히어로즈,-1.04,36,-0.55,-0.49,89,88,84,7,...,0,0.19,0.227,0.238,0.465,0.013,9.9,161247,2024,16124

In [47]:
# df_bat_data.to_csv('타자_2124_스탯_데이터.csv', index=False)

In [51]:
player_data_all = pd.read_csv('시각화_데이터_파일/2124_타자투수_스텟_통합.csv')
player_data_all

,선수,포지션,Sort▼,G,GS,GR,GF,CG,SHO,W,...,AVG,OBP,SLG,OPS,R/ePA,wRC+,연봉등급,신인여부,국적,선발투수
0,킹험,투수,4.59,25,25.0,0.0,0.0,0.0,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,김민우,투수,4.40,29,28.0,1.0,0.0,0.0,0.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,카펜터,투수,3.25,31,30.0,1.0,0.0,0.0,0.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강재민,투수,2.22,58,0.0,58.0,18.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,윤대경,투수,1.71,43,9.0,34.0,2.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2411,고영우,3루수,NaN,94,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256,0.329,0.319,0.648,0.094,73.5,NaN,NaN,NaN,NaN
2412,이원석,1루수,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,...,0.220,0.330,0.264,0.594,0.085,66.4,NaN,NaN,NaN,NaN
2413,이승원,유격수,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,...,0.108,0.154,0.135,0.289,-0.058,-43.9,NaN,NaN,NaN,NaN
2414,임지열,우익수,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,...,0.102,0.211,0.163,0.374,-0.011,-8.3,NaN,NaN,NaN,NaN
2415,이재상,유격수,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN,...,0.190,0.227,0.238,0.465,0.013,9.9,NaN,NaN,NaN,NaN