In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [4]:
# 1. 파일 불러오기
player_sal = pd.read_csv('선수 연봉 데이터(연봉).csv')
sal_data_21 = pd.read_csv('2021_연봉_statiz.csv')
sal_data_22 = pd.read_csv('2022_연봉_statiz.csv')

FileNotFoundError: [Errno 2] No such file or directory: '2021_연봉_statiz.csv'

In [3]:
# 연도별 데이터프레임 
sal_data_21['연도'] = 2021
sal_data_22['연도'] = 2022

display(player_sal.head())
display(sal_data_21.head())
display(sal_data_22.head())

     선수    연봉(만원)    WAR WAR당 연봉       팀    pid    연도
0   채은성  180000.0   2.36   76221  한화 이글스  11215  2023
1   최재훈   80000.0   3.90   20492  한화 이글스  10170  2023
2   스미스  104000.0   0.09  756875  한화 이글스  15540  2023
3  오그레디   91000.0  -0.87  -80365  한화 이글스  15541  2023
4   이태양   66000.0   1.44   45702  한화 이글스  10609  2023

    선수 연봉(만원)    WAR  WAR당 연봉       팀    pid    연도
0  정우람  80000  -0.40  -198244  한화 이글스  10156  2021
1   힐리  50000   0.63    79974  한화 이글스  14761  2021
2  이성열  40000  -0.07  -601907  한화 이글스  10168  2021
3  카펜터  30000   2.79    10768  한화 이글스  14760  2021
4  페레즈  30000   0.72    41833  한화 이글스  14991  2021

    선수  연봉(만원)   WAR WAR당 연봉       팀    pid    연도
0  최재훈  100000  2.06   48459  한화 이글스  10170  2022
1  정우람   80000  0.20  395107  한화 이글스  10156  2022
2   킹험   70000  0.46  151248  한화 이글스  14582  2022
3  터크먼   70000  4.05   17268  한화 이글스  15012  2022
4   페냐   40000  1.39   28851  한화 이글스  15146  2022

In [4]:
player_sal['연봉(만원)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2558 entries, 0 to 2557
Series name: 연봉(만원)
Non-Null Count  Dtype
--------------  -----
2558 non-null   float64
dtypes: float64(1)
memory usage: 20.1 KB

In [5]:
player_sal['연봉(만원)'] = player_sal['연봉(만원)'].astype(int)

In [6]:
display(player_sal.head())

     선수  연봉(만원)    WAR WAR당 연봉       팀    pid    연도
0   채은성  180000   2.36   76221  한화 이글스  11215  2023
1   최재훈   80000   3.90   20492  한화 이글스  10170  2023
2   스미스  104000   0.09  756875  한화 이글스  15540  2023
3  오그레디   91000  -0.87  -80365  한화 이글스  15541  2023
4   이태양   66000   1.44   45702  한화 이글스  10609  2023

In [7]:
# 파일 병합하기 
sal_total = pd.concat([sal_data_21, sal_data_22, player_sal], ignore_index=True)
sal_total

       선수 연봉(만원)    WAR  WAR당 연봉        팀    pid    연도
0     정우람  80000  -0.40  -198244   한화 이글스  10156  2021
1      힐리  50000   0.63    79974   한화 이글스  14761  2021
2     이성열  40000  -0.07  -601907   한화 이글스  10168  2021
3     카펜터  30000   2.79    10768   한화 이글스  14760  2021
4     페레즈  30000   0.72    41833   한화 이글스  14991  2021
...   ...    ...    ...      ...      ...    ...   ...
4223  김주훈   3000      -        -  키움 히어로즈  16129  2025
4224  서유신   3000  -0.24   -12551  키움 히어로즈  15483  2025
4225  박성빈   3000      -        -  키움 히어로즈  15479  2025
4226  이우석   1500      -        -  키움 히어로즈  11360  2025
4227  손힘찬      0  -0.07        -  키움 히어로즈  16385  2025

[4228 rows x 7 columns]

In [8]:
df = sal_total.copy()

In [9]:
df['연봉(만원)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4228 entries, 0 to 4227
Series name: 연봉(만원)
Non-Null Count  Dtype
--------------  -----
4228 non-null   object
dtypes: object(1)
memory usage: 33.2+ KB

In [10]:
# 1. 일단 숫자(실수)로 변환
df['연봉(만원)'] = pd.to_numeric(df['연봉(만원)'], errors='coerce')

# 2. 결측값(NaN)을 0이나 원하는 값으로 처리 (필수 아님, 필요하면)
df['연봉(만원)'] = df['연봉(만원)'].fillna(0)

# 3. 정수(int)형으로 변환
df['연봉(만원)'] = df['연봉(만원)'].astype(int)

In [11]:
# 1. 연봉 컬럼 복사 (이미 되어있으면 생략)
df['연봉'] = df['연봉(만원)']

# 2. 팀별 연도별 연봉순위 (1등 = 가장 연봉 높은 선수)
df['팀연봉순위'] = df.groupby(['연도', '팀'])['연봉'].rank(ascending=False, method='first')

# 3. 전체 연도별 연봉순위
df['전체연봉순위'] = df.groupby('연도')['연봉'].rank(ascending=False, method='first')

# 4. 연봉이 NaN인 선수 삭제
df = df.dropna(subset=['연봉'])
df

       선수  연봉(만원)    WAR  WAR당 연봉        팀    pid    연도     연봉  팀연봉순위  전체연봉순위
0     정우람   80000  -0.40  -198244   한화 이글스  10156  2021  80000    1.0    17.0
1      힐리   50000   0.63    79974   한화 이글스  14761  2021  50000    2.0    39.0
2     이성열   40000  -0.07  -601907   한화 이글스  10168  2021  40000    3.0    57.0
3     카펜터   30000   2.79    10768   한화 이글스  14760  2021  30000    4.0    69.0
4     페레즈   30000   0.72    41833   한화 이글스  14991  2021  30000    5.0    70.0
...   ...     ...    ...      ...      ...    ...   ...    ...    ...     ...
4223  김주훈    3000      -        -  키움 히어로즈  16129  2025   3000   75.0   819.0
4224  서유신    3000  -0.24   -12551  키움 히어로즈  15483  2025   3000   76.0   820.0
4225  박성빈    3000      -        -  키움 히어로즈  15479  2025   3000   77.0   821.0
4226  이우석    1500      -        -  키움 히어로즈  11360  2025   1500   78.0   823.0
4227  손힘찬       0  -0.07        -  키움 히어로즈  16385  2025      0   79.0   846.0

[4228 rows x 10 columns]

In [12]:
df['팀연봉순위'] = df['팀연봉순위'].astype(int)
df['전체연봉순위'] = df['전체연봉순위'].astype(int)

In [13]:
df.drop(columns='연봉', inplace=True)
df

       선수  연봉(만원)    WAR  WAR당 연봉        팀    pid    연도  팀연봉순위  전체연봉순위
0     정우람   80000  -0.40  -198244   한화 이글스  10156  2021      1      17
1      힐리   50000   0.63    79974   한화 이글스  14761  2021      2      39
2     이성열   40000  -0.07  -601907   한화 이글스  10168  2021      3      57
3     카펜터   30000   2.79    10768   한화 이글스  14760  2021      4      69
4     페레즈   30000   0.72    41833   한화 이글스  14991  2021      5      70
...   ...     ...    ...      ...      ...    ...   ...    ...     ...
4223  김주훈    3000      -        -  키움 히어로즈  16129  2025     75     819
4224  서유신    3000  -0.24   -12551  키움 히어로즈  15483  2025     76     820
4225  박성빈    3000      -        -  키움 히어로즈  15479  2025     77     821
4226  이우석    1500      -        -  키움 히어로즈  11360  2025     78     823
4227  손힘찬       0  -0.07        -  키움 히어로즈  16385  2025     79     846

[4228 rows x 9 columns]

In [14]:
df.to_csv('2021_2025_연봉_합본데이터.csv', index=False)