In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [2]:
# 데이터 불러오기

# 면적 데이터 
df_area = pd.read_csv('data/지역별_면적_2015_2023.csv', encoding='utf-8')
df_area

,남북한별,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,남북한별,면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%),면적 (㎢),구성비 (%)
1,남한,100295,100.0,100339,100.0,100364,100.0,100378,100.0,100401,100.0,100413,100.0,100432,100.0,100444,100.0,100449,100.0
2,서울특별시,605,0.6,605,0.6,605,0.6,605,0.6,605,0.6,605,0.6,605,0.6,605,0.6,605,0.6
3,부산광역시,770,0.8,770,0.8,770,0.8,770,0.8,770,0.8,770,0.8,770,0.8,771,0.8,771,0.8
4,대구광역시,884,0.9,884,0.9,884,0.9,884,0.9,884,0.9,883,0.9,884,0.9,885,0.9,1499,1.5
5,인천광역시,1049,1.0,1063,1.1,1063,1.1,1063,1.1,1063,1.1,1065,1.1,1066,1.1,1067,1.1,1067,1.1
6,광주광역시,501,0.5,501,0.5,501,0.5,501,0.5,501,0.5,501,0.5,501,0.5,501,0.5,501,0.5
7,대전광역시,539,0.5,539,0.5,539,0.5,540,0.5,540,0.5,540,0.5,540,0.5,540,0.5,540,0.5
8,울산광역시,1061,1.1,1061,1.1,1061,1.1,1062,1.1,1062,1.1,1062,1.1,1062,1.1,1063,1.1,1063,1.1
9,세종특별자치시,465,0.5,465,0.5,465,0.5,465,0.5,465,0.5,465,0.5,465,0.5,465,0.5,465,0.5
10,경기도,10175,10.1,10183,10.1,10187,10.2,10188,10.1,10193,10.2,10195,10.2,10197,10.2,10200,10.2,10200,10.2
11,강원특별자치도,16826,16.8,16827,16.8,16828,16.8,16828,16.8,16828,16.8,16830,16.8,16830,16.8,16830,16.8,16831,16.8
12,충청북도,7407,7.4,7407,7.4,7408,7.4,7408,7.4,7407,7.4,7407,7.4,7407,7.4,7407,7.4,7407,7.4
13,충청남도,8214,8.2,8226,8.2,8226,8.2,8229,8.2,8246,8.2,8246,8.2,8247,8.2,8247,8.2,8248,8.2
14,전라북도,8067,8.0,8069,8.0,8069,8.0,8069,8.0,8069,8.0,8070,8.0,8072,8.0,8073,8.0,8073,8.0
15,전라남도,12313,12.3,12319,12.3,12335,12.3,12344,12.3,12345,12.3,12348,12.3,12359,12.3,12361,12.3,12362,12.3
16,경상북도,19031,19.0,19031,19.0,19033,19.0,19033,19.0,19033,19.0,19034,19.0,19035,19.0,19036,19.0,18424,18.3
17,경상남도,10539,10.5,10540,10.5,10540,10.5,10540,10.5,10540,10.5,10541,10.5,10542,10.5,10542,10.5,10543,10.5
18,제주특별자치도,1849,1.8,1849,1.8,1850,1.8,1850,1.8,1850,1.8,1850,1.8,1850,1.8,1850,1.8,1850,1.8

In [3]:
# 병원 데이터 (cp949, === 시도별 전체 현황 === 행 건너뜀)
df_hospital = pd.read_csv('data/의료기관_현황_2022년_광역시도별.csv', encoding='utf-8')
df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수
0     서울특별시        14      42   3630  9485
1     부산광역시         3      25   1148  2568
2     대구광역시         5      13    891  1926
3     인천광역시         3      18    675  1737
4     광주광역시         2      22    317  1028
5     대전광역시         1       9    507  1123
6     울산광역시         1       8    281   625
7   세종특별자치시         0       2     88   217
8       경기도         5      67   3259  7854
9       강원도         2      13    379   794
10     충청북도         1      12    406   924
11     충청남도         2      11    509  1100
12     전라북도         2      12    509  1197
13     전라남도         1      25    369   969
14     경상북도         0      20    626  1310
15     경상남도         3      23    790  1702
16  제주특별자치도         0       6    195   482

In [4]:
df_hospital['시도코드명'] = df_hospital['시도코드명'].replace({'강원도': '강원특별자치도'})
df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수
0     서울특별시        14      42   3630  9485
1     부산광역시         3      25   1148  2568
2     대구광역시         5      13    891  1926
3     인천광역시         3      18    675  1737
4     광주광역시         2      22    317  1028
5     대전광역시         1       9    507  1123
6     울산광역시         1       8    281   625
7   세종특별자치시         0       2     88   217
8       경기도         5      67   3259  7854
9   강원특별자치도         2      13    379   794
10     충청북도         1      12    406   924
11     충청남도         2      11    509  1100
12     전라북도         2      12    509  1197
13     전라남도         1      25    369   969
14     경상북도         0      20    626  1310
15     경상남도         3      23    790  1702
16  제주특별자치도         0       6    195   482

In [5]:
df_hospital_total =df_hospital['총 의료기관 수'] = (
    df_hospital['상급종합병원 수'] +
    df_hospital['종합병원 수'] +
    df_hospital['한의원 수'] +
    df_hospital['의원 수']
)

df_hospital_total

0     13171
1      3744
2      2835
3      2433
4      1369
5      1640
6       915
7       307
8     11185
9      1188
10     1343
11     1622
12     1720
13     1364
14     1956
15     2518
16      683
dtype: int64

In [6]:
# 총 의료기관 수 컬럼 추가
df_hospital['총 의료기관 수'] = (
    df_hospital['상급종합병원 수'] +
    df_hospital['종합병원 수'] +
    df_hospital['한의원 수'] +
    df_hospital['의원 수']
)

df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수
0     서울특별시        14      42   3630  9485     13171
1     부산광역시         3      25   1148  2568      3744
2     대구광역시         5      13    891  1926      2835
3     인천광역시         3      18    675  1737      2433
4     광주광역시         2      22    317  1028      1369
5     대전광역시         1       9    507  1123      1640
6     울산광역시         1       8    281   625       915
7   세종특별자치시         0       2     88   217       307
8       경기도         5      67   3259  7854     11185
9   강원특별자치도         2      13    379   794      1188
10     충청북도         1      12    406   924      1343
11     충청남도         2      11    509  1100      1622
12     전라북도         2      12    509  1197      1720
13     전라남도         1      25    369   969      1364
14     경상북도         0      20    626  1310      1956
15     경상남도         3      23    790  1702      2518
16  제주특별자치도         0       6    195   482       683

In [7]:
# 면적 데이터 전처리
# 컬럼 정리
df_area.columns = df_area.columns.str.strip()

# 2022년 면적만 추출
df_area_2022 = df_area[['남북한별', '2022']].copy()
df_area_2022.columns = ['시도', '면적']
df_area_2022 = df_area_2022[~df_area_2022['시도'].isin(['남북한별', '북한'])]

# 단위 숫자형으로 변환
df_area_2022['면적'] = pd.to_numeric(df_area_2022['면적'], errors='coerce')

df_area_2022

         시도        면적
0     남북한별        NaN
1        남한  100444.0
2     서울특별시     605.0
3     부산광역시     771.0
4     대구광역시     885.0
5     인천광역시    1067.0
6     광주광역시     501.0
7     대전광역시     540.0
8     울산광역시    1063.0
9   세종특별자치시     465.0
10      경기도   10200.0
11  강원특별자치도   16830.0
12     충청북도    7407.0
13     충청남도    8247.0
14     전라북도    8073.0
15     전라남도   12361.0
16     경상북도   19036.0
17     경상남도   10542.0
18  제주특별자치도    1850.0

In [8]:
# # df_area_2022['시도'] = df_area_2022['시도'].replace({'강원특별자치도': '강원도'})
# df_area_2022

In [9]:
# 병합
df_merged = pd.merge(df_hospital, df_area_2022, left_on='시도코드명', right_on='시도', how='left')
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       시도       면적
0     서울특별시        14      42   3630  9485     13171    서울특별시    605.0
1     부산광역시         3      25   1148  2568      3744    부산광역시    771.0
2     대구광역시         5      13    891  1926      2835    대구광역시    885.0
3     인천광역시         3      18    675  1737      2433    인천광역시   1067.0
4     광주광역시         2      22    317  1028      1369    광주광역시    501.0
5     대전광역시         1       9    507  1123      1640    대전광역시    540.0
6     울산광역시         1       8    281   625       915    울산광역시   1063.0
7   세종특별자치시         0       2     88   217       307  세종특별자치시    465.0
8       경기도         5      67   3259  7854     11185      경기도  10200.0
9   강원특별자치도         2      13    379   794      1188  강원특별자치도  16830.0
10     충청북도         1      12    406   924      1343     충청북도   7407.0
11     충청남도         2      11    509  1100      1622     충청남도   8247.0
12     전라북도         2      12    509  1197      1720     전라북도   8073.0
13     전라남도         1      25    369   969      1364     전라남도  12361.0
14     경상북도         0      20    626  1310      1956     경상북도  19036.0
15     경상남도         3      23    790  1702      2518     경상남도  10542.0
16  제주특별자치도         0       6    195   482       683  제주특별자치도   1850.0

In [10]:
# 면적 당 병원 수 계산
df_merged['면적당_의료기관 수'] = df_merged['총 의료기관 수'] / df_merged['면적']
df_merged['면적당_의료기관 수'] = df_merged['면적당_의료기관 수'].round(2)

In [11]:
df_merged

,시도코드명,상급종합병원 수,종합병원 수,한의원 수,의원 수,총 의료기관 수,시도,면적,면적당_의료기관 수
0,서울특별시,14,42,3630,9485,13171,서울특별시,605.0,21.77
1,부산광역시,3,25,1148,2568,3744,부산광역시,771.0,4.86
2,대구광역시,5,13,891,1926,2835,대구광역시,885.0,3.20
3,인천광역시,3,18,675,1737,2433,인천광역시,1067.0,2.28
4,광주광역시,2,22,317,1028,1369,광주광역시,501.0,2.73
5,대전광역시,1,9,507,1123,1640,대전광역시,540.0,3.04
6,울산광역시,1,8,281,625,915,울산광역시,1063.0,0.86
7,세종특별자치시,0,2,88,217,307,세종특별자치시,465.0,0.66
8,경기도,5,67,3259,7854,11185,경기도,10200.0,1.10
9,강원특별자치도,2,13,379,794,1188,강원특별자치도,16830.0,0.07
10,충청북도,1,12,406,924,1343,충청북도,7407.0,0.18
11,충청남도,2,11,509,1100,1622,충청남도,8247.0,0.20
12,전라북도,2,12,509,1197,1720,전라북도,8073.0,0.21
13,전라남도,1,25,369,969,1364,전라남도,12361.0,0.11
14,경상북도,0,20,626,1310,1956,경상북도,19036.0,0.10
15,경상남도,3,23,790,1702,2518,경상남도,10542.0,0.24
16,제주특별자치도,0,6,195,482,683,제주특별자치도,1850.0,0.37

In [12]:
df_merged.drop(columns='시도', inplace=True)
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       면적  면적당_의료기관 수
0     서울특별시        14      42   3630  9485     13171    605.0       21.77
1     부산광역시         3      25   1148  2568      3744    771.0        4.86
2     대구광역시         5      13    891  1926      2835    885.0        3.20
3     인천광역시         3      18    675  1737      2433   1067.0        2.28
4     광주광역시         2      22    317  1028      1369    501.0        2.73
5     대전광역시         1       9    507  1123      1640    540.0        3.04
6     울산광역시         1       8    281   625       915   1063.0        0.86
7   세종특별자치시         0       2     88   217       307    465.0        0.66
8       경기도         5      67   3259  7854     11185  10200.0        1.10
9   강원특별자치도         2      13    379   794      1188  16830.0        0.07
10     충청북도         1      12    406   924      1343   7407.0        0.18
11     충청남도         2      11    509  1100      1622   8247.0        0.20
12     전라북도         2      12    509  1197      1720   8073.0        0.21
13     전라남도         1      25    369   969      1364  12361.0        0.11
14     경상북도         0      20    626  1310      1956  19036.0        0.10
15     경상남도         3      23    790  1702      2518  10542.0        0.24
16  제주특별자치도         0       6    195   482       683   1850.0        0.37

In [13]:
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       면적  면적당_의료기관 수
0     서울특별시        14      42   3630  9485     13171    605.0       21.77
1     부산광역시         3      25   1148  2568      3744    771.0        4.86
2     대구광역시         5      13    891  1926      2835    885.0        3.20
3     인천광역시         3      18    675  1737      2433   1067.0        2.28
4     광주광역시         2      22    317  1028      1369    501.0        2.73
5     대전광역시         1       9    507  1123      1640    540.0        3.04
6     울산광역시         1       8    281   625       915   1063.0        0.86
7   세종특별자치시         0       2     88   217       307    465.0        0.66
8       경기도         5      67   3259  7854     11185  10200.0        1.10
9   강원특별자치도         2      13    379   794      1188  16830.0        0.07
10     충청북도         1      12    406   924      1343   7407.0        0.18
11     충청남도         2      11    509  1100      1622   8247.0        0.20
12     전라북도         2      12    509  1197      1720   8073.0        0.21
13     전라남도         1      25    369   969      1364  12361.0        0.11
14     경상북도         0      20    626  1310      1956  19036.0        0.10
15     경상남도         3      23    790  1702      2518  10542.0        0.24
16  제주특별자치도         0       6    195   482       683   1850.0        0.37

In [14]:
df_merged.to_csv('data/process_data/면적_대비_의료기관수_2022.csv', index=False, encoding='utf-8-sig')

In [15]:
# 2023년 지역 면적 대비 지역별 의료기관 수
# 23년 데이터 불러오기

df_hospital = pd.read_csv('data/의료기관_현황_2023년_광역시도별.csv', encoding='utf-8')
df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수
0     서울특별시        14      43   3633  9736
1     부산광역시         3      26   1139  2598
2     대구광역시         5      14    898  1980
3     인천광역시         3      18    684  1773
4     광주광역시         2      23    317  1052
5     대전광역시         1       9    498  1111
6     울산광역시         1       8    277   637
7   세종특별자치시         0       2     97   229
8       경기도         5      66   3309  8105
9       강원도         2      14    379   797
10     충청북도         1      12    407   937
11     충청남도         2      11    514  1114
12     전라북도         2      12    502  1216
13     전라남도         1      25    357   971
14     경상북도         0      21    620  1299
15     경상남도         3      23    781  1715
16  제주특별자치도         0       6    195   498

In [16]:
df_hospital['시도코드명'] = df_hospital['시도코드명'].replace({'강원도': '강원특별자치도'})
df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수
0     서울특별시        14      43   3633  9736
1     부산광역시         3      26   1139  2598
2     대구광역시         5      14    898  1980
3     인천광역시         3      18    684  1773
4     광주광역시         2      23    317  1052
5     대전광역시         1       9    498  1111
6     울산광역시         1       8    277   637
7   세종특별자치시         0       2     97   229
8       경기도         5      66   3309  8105
9   강원특별자치도         2      14    379   797
10     충청북도         1      12    407   937
11     충청남도         2      11    514  1114
12     전라북도         2      12    502  1216
13     전라남도         1      25    357   971
14     경상북도         0      21    620  1299
15     경상남도         3      23    781  1715
16  제주특별자치도         0       6    195   498

In [17]:
df_hospital_total =df_hospital['총 의료기관 수'] = (
    df_hospital['상급종합병원 수'] +
    df_hospital['종합병원 수'] +
    df_hospital['한의원 수'] +
    df_hospital['의원 수']
)

df_hospital_total

0     13426
1      3766
2      2897
3      2478
4      1394
5      1619
6       923
7       328
8     11485
9      1192
10     1357
11     1641
12     1732
13     1354
14     1940
15     2522
16      699
dtype: int64

In [18]:
# 총 의료기관 수 컬럼 추가
df_hospital['총 의료기관 수'] = (
    df_hospital['상급종합병원 수'] +
    df_hospital['종합병원 수'] +
    df_hospital['한의원 수'] +
    df_hospital['의원 수']
)

df_hospital

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수
0     서울특별시        14      43   3633  9736     13426
1     부산광역시         3      26   1139  2598      3766
2     대구광역시         5      14    898  1980      2897
3     인천광역시         3      18    684  1773      2478
4     광주광역시         2      23    317  1052      1394
5     대전광역시         1       9    498  1111      1619
6     울산광역시         1       8    277   637       923
7   세종특별자치시         0       2     97   229       328
8       경기도         5      66   3309  8105     11485
9   강원특별자치도         2      14    379   797      1192
10     충청북도         1      12    407   937      1357
11     충청남도         2      11    514  1114      1641
12     전라북도         2      12    502  1216      1732
13     전라남도         1      25    357   971      1354
14     경상북도         0      21    620  1299      1940
15     경상남도         3      23    781  1715      2522
16  제주특별자치도         0       6    195   498       699

In [19]:
# 면적 데이터 전처리
# 컬럼 정리
df_area.columns = df_area.columns.str.strip()

# 2023년 면적만 추출
df_area_2023 = df_area[['남북한별', '2022']].copy()
df_area_2023.columns = ['시도', '면적']
df_area_2023 = df_area_2023[~df_area_2023['시도'].isin(['남북한별', '북한'])]

# 단위 숫자형으로 변환
df_area_2023['면적'] = pd.to_numeric(df_area_2023['면적'], errors='coerce')

df_area_2023

         시도        면적
0     남북한별        NaN
1        남한  100444.0
2     서울특별시     605.0
3     부산광역시     771.0
4     대구광역시     885.0
5     인천광역시    1067.0
6     광주광역시     501.0
7     대전광역시     540.0
8     울산광역시    1063.0
9   세종특별자치시     465.0
10      경기도   10200.0
11  강원특별자치도   16830.0
12     충청북도    7407.0
13     충청남도    8247.0
14     전라북도    8073.0
15     전라남도   12361.0
16     경상북도   19036.0
17     경상남도   10542.0
18  제주특별자치도    1850.0

In [20]:
# df_area_2023['시도'] = df_area_2023['시도'].replace({'강원특별자치도': '강원도'})
# df_area_2023

In [21]:
# 병합
df_merged = pd.merge(df_hospital, df_area_2022, left_on='시도코드명', right_on='시도', how='left')
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       시도       면적
0     서울특별시        14      43   3633  9736     13426    서울특별시    605.0
1     부산광역시         3      26   1139  2598      3766    부산광역시    771.0
2     대구광역시         5      14    898  1980      2897    대구광역시    885.0
3     인천광역시         3      18    684  1773      2478    인천광역시   1067.0
4     광주광역시         2      23    317  1052      1394    광주광역시    501.0
5     대전광역시         1       9    498  1111      1619    대전광역시    540.0
6     울산광역시         1       8    277   637       923    울산광역시   1063.0
7   세종특별자치시         0       2     97   229       328  세종특별자치시    465.0
8       경기도         5      66   3309  8105     11485      경기도  10200.0
9   강원특별자치도         2      14    379   797      1192  강원특별자치도  16830.0
10     충청북도         1      12    407   937      1357     충청북도   7407.0
11     충청남도         2      11    514  1114      1641     충청남도   8247.0
12     전라북도         2      12    502  1216      1732     전라북도   8073.0
13     전라남도         1      25    357   971      1354     전라남도  12361.0
14     경상북도         0      21    620  1299      1940     경상북도  19036.0
15     경상남도         3      23    781  1715      2522     경상남도  10542.0
16  제주특별자치도         0       6    195   498       699  제주특별자치도   1850.0

In [22]:
df_merged['면적당_의료기관 수'] = df_merged['총 의료기관 수'] / df_merged['면적']
df_merged

,시도코드명,상급종합병원 수,종합병원 수,한의원 수,의원 수,총 의료기관 수,시도,면적,면적당_의료기관 수
0,서울특별시,14,43,3633,9736,13426,서울특별시,605.0,22.191736
1,부산광역시,3,26,1139,2598,3766,부산광역시,771.0,4.884565
2,대구광역시,5,14,898,1980,2897,대구광역시,885.0,3.273446
3,인천광역시,3,18,684,1773,2478,인천광역시,1067.0,2.322399
4,광주광역시,2,23,317,1052,1394,광주광역시,501.0,2.782435
5,대전광역시,1,9,498,1111,1619,대전광역시,540.0,2.998148
6,울산광역시,1,8,277,637,923,울산광역시,1063.0,0.868297
7,세종특별자치시,0,2,97,229,328,세종특별자치시,465.0,0.705376
8,경기도,5,66,3309,8105,11485,경기도,10200.0,1.125980
9,강원특별자치도,2,14,379,797,1192,강원특별자치도,16830.0,0.070826
10,충청북도,1,12,407,937,1357,충청북도,7407.0,0.183205
11,충청남도,2,11,514,1114,1641,충청남도,8247.0,0.198981
12,전라북도,2,12,502,1216,1732,전라북도,8073.0,0.214542
13,전라남도,1,25,357,971,1354,전라남도,12361.0,0.109538
14,경상북도,0,21,620,1299,1940,경상북도,19036.0,0.101912
15,경상남도,3,23,781,1715,2522,경상남도,10542.0,0.239234
16,제주특별자치도,0,6,195,498,699,제주특별자치도,1850.0,0.377838

In [23]:
df_merged.drop(columns='시도', inplace=True)
df_merged['면적당_의료기관 수'] = df_merged['면적당_의료기관 수'].round(2)
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       면적  면적당_의료기관 수
0     서울특별시        14      43   3633  9736     13426    605.0       22.19
1     부산광역시         3      26   1139  2598      3766    771.0        4.88
2     대구광역시         5      14    898  1980      2897    885.0        3.27
3     인천광역시         3      18    684  1773      2478   1067.0        2.32
4     광주광역시         2      23    317  1052      1394    501.0        2.78
5     대전광역시         1       9    498  1111      1619    540.0        3.00
6     울산광역시         1       8    277   637       923   1063.0        0.87
7   세종특별자치시         0       2     97   229       328    465.0        0.71
8       경기도         5      66   3309  8105     11485  10200.0        1.13
9   강원특별자치도         2      14    379   797      1192  16830.0        0.07
10     충청북도         1      12    407   937      1357   7407.0        0.18
11     충청남도         2      11    514  1114      1641   8247.0        0.20
12     전라북도         2      12    502  1216      1732   8073.0        0.21
13     전라남도         1      25    357   971      1354  12361.0        0.11
14     경상북도         0      21    620  1299      1940  19036.0        0.10
15     경상남도         3      23    781  1715      2522  10542.0        0.24
16  제주특별자치도         0       6    195   498       699   1850.0        0.38

In [24]:
df_merged['시도코드명'] = df_merged['시도코드명'].replace({'강원도': '강원특별자치도'})
df_merged

      시도코드명  상급종합병원 수  종합병원 수  한의원 수  의원 수  총 의료기관 수       면적  면적당_의료기관 수
0     서울특별시        14      43   3633  9736     13426    605.0       22.19
1     부산광역시         3      26   1139  2598      3766    771.0        4.88
2     대구광역시         5      14    898  1980      2897    885.0        3.27
3     인천광역시         3      18    684  1773      2478   1067.0        2.32
4     광주광역시         2      23    317  1052      1394    501.0        2.78
5     대전광역시         1       9    498  1111      1619    540.0        3.00
6     울산광역시         1       8    277   637       923   1063.0        0.87
7   세종특별자치시         0       2     97   229       328    465.0        0.71
8       경기도         5      66   3309  8105     11485  10200.0        1.13
9   강원특별자치도         2      14    379   797      1192  16830.0        0.07
10     충청북도         1      12    407   937      1357   7407.0        0.18
11     충청남도         2      11    514  1114      1641   8247.0        0.20
12     전라북도         2      12    502  1216      1732   8073.0        0.21
13     전라남도         1      25    357   971      1354  12361.0        0.11
14     경상북도         0      21    620  1299      1940  19036.0        0.10
15     경상남도         3      23    781  1715      2522  10542.0        0.24
16  제주특별자치도         0       6    195   498       699   1850.0        0.38

In [25]:
df_merged.to_csv('data/process_data/면적_대비_의료기관수_2023.csv', index=False, encoding='utf-8-sig')