In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

import time

import missingno

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from statsmodels.stats.outliers_influence import variance_inflation_factor

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import RandomizedSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 학습 모델 저장을 위한 라이브러리
import pickle

In [2]:
df1 = pd.read_csv('2021_수비통합_statiz.csv')
df1

,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid
0,하주석,21 SS,0.692,113,111,923.2,376,131,231,14,...,NaN,NaN,NaN,NaN,-2.48,-2.580,9.460,6.980,-0.246,109139
1,이해창,21 C,0.180,20,16,149.0,129,112,16,1,...,-0.06,0.56,-0.54,NaN,0.37,2.680,1.440,1.810,0.037,103919
2,김현민,21 2B,0.089,3,1,13.0,7,2,5,0,...,NaN,NaN,NaN,NaN,0.85,24.460,0.050,0.900,0.084,142099
3,이성열,21 1B,0.019,10,7,64.0,52,46,5,1,...,NaN,NaN,NaN,NaN,0.76,2.370,-0.560,0.200,0.075,101689
4,장규현,21 C,0.019,4,1,16.0,12,12,0,0,...,NaN,0.00,0.00,NaN,0.05,1.010,0.140,0.190,0.005,148119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,이동훈,21 CF,-0.130,26,15,150.0,55,53,1,1,...,0.00,NaN,0.00,0.0,-1.31,-7.255,-0.003,-1.313,-0.130,125269
406,프레이타스,21 C,-0.165,10,10,61.0,49,41,7,1,...,-0.54,NaN,-0.39,0.0,-2.21,-31.824,0.550,-1.660,-0.219,147627
407,김병휘,21 2B,0.045,8,2,27.0,15,5,9,1,...,0.00,NaN,0.00,0.0,0.38,6.840,0.069,0.449,0.038,145777
408,크레익,21 1B,-0.448,47,44,366.0,277,256,18,3,...,0.00,NaN,0.00,0.0,-2.78,-8.517,-1.732,-4.512,-0.276,149907
409,정은원,21 2B,0.143,126,123,1024.0,512,220,279,13,...,0.00,NaN,0.00,0.0,-4.01,-4.583,5.447,1.437,-0.398,131379

In [3]:
df2 = pd.read_csv('2021_투구_statiz.csv')
df2

,Rank,Name,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid
0,Rank,Name,Team,WAR,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,NaN,NaN
1,1,킹험,21 P,4.59,25,25,0,0,0,0,...,4,3.19,3.63,3.59,3.62,3.39,1.1,4.59,한화 이글스,14582.0
2,2,김민우,21 P,4.4,29,28,1,0,0,0,...,5,4.0,4.11,3.84,3.93,4.56,1.33,4.4,한화 이글스,11410.0
3,3,카펜터,21 P,3.25,31,30,1,0,0,0,...,7,3.97,4.76,4.65,4.78,3.91,1.31,3.25,한화 이글스,14760.0
4,4,강재민,21 P,2.22,58,0,58,18,0,0,...,1,2.13,2.27,3.21,3.37,3.39,1.22,2.22,한화 이글스,14708.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,26,임규빈,21 P,-0.25,5,0,5,4,0,0,...,0,10.38,10.38,12.51,12.16,7.59,1.96,-0.25,키움 히어로즈,13010.0
309,27,김선기,21 P,-0.29,21,7,14,5,0,0,...,4,6.52,7.08,6.66,6.75,5.56,1.55,-0.29,키움 히어로즈,13092.0
310,28,이승호,21 P,-0.36,38,3,35,5,0,0,...,8,5.51,7.42,7.12,7.45,4.78,1.82,-0.36,키움 히어로즈,12865.0
311,29,박관진,21 P,-0.39,2,0,2,0,0,0,...,0,81.0,99.99,100.58,102.94,22.37,12.0,-0.39,키움 히어로즈,14693.0
312,30,오주원,21 P,-0.52,22,0,22,11,0,0,...,1,9.31,9.31,8.91,9.62,4.67,2.02,-0.52,키움 히어로즈,10445.0

In [4]:
df3 = pd.read_csv('2021_연봉_statiz.csv')
df3

      선수 연봉(만원)    WAR  WAR당 연봉        팀    pid
0    정우람  80000  -0.40  -198244   한화 이글스  10156
1     힐리  50000   0.63    79974   한화 이글스  14761
2    이성열  40000  -0.07  -601907   한화 이글스  10168
3    카펜터  30000   2.79    10768   한화 이글스  14760
4    페레즈  30000   0.72    41833   한화 이글스  14991
..   ...    ...    ...      ...      ...    ...
819  박주성   3000  -0.03  -113817  키움 히어로즈  14130
820  박준형   3000      -        -  키움 히어로즈  14211
821  이명기   3000   0.06    53724  키움 히어로즈  14212
822  김신회   3000      -        -  키움 히어로즈  14218
823  박성우   2700      -        -  키움 히어로즈  14852

[824 rows x 6 columns]

In [5]:
df3[df3['선수'] == '하주석']

    선수 연봉(만원)   WAR WAR당 연봉       팀    pid
9  하주석  13500  3.17    4254  한화 이글스  10913

In [6]:
df1['기존pid'] = df1['pid'].astype(str).str[:-1]

In [7]:
df1

,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid,기존pid
0,하주석,21 SS,0.692,113,111,923.2,376,131,231,14,...,NaN,NaN,NaN,-2.48,-2.580,9.460,6.980,-0.246,109139,10913
1,이해창,21 C,0.180,20,16,149.0,129,112,16,1,...,0.56,-0.54,NaN,0.37,2.680,1.440,1.810,0.037,103919,10391
2,김현민,21 2B,0.089,3,1,13.0,7,2,5,0,...,NaN,NaN,NaN,0.85,24.460,0.050,0.900,0.084,142099,14209
3,이성열,21 1B,0.019,10,7,64.0,52,46,5,1,...,NaN,NaN,NaN,0.76,2.370,-0.560,0.200,0.075,101689,10168
4,장규현,21 C,0.019,4,1,16.0,12,12,0,0,...,0.00,0.00,NaN,0.05,1.010,0.140,0.190,0.005,148119,14811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,이동훈,21 CF,-0.130,26,15,150.0,55,53,1,1,...,NaN,0.00,0.0,-1.31,-7.255,-0.003,-1.313,-0.130,125269,12526
406,프레이타스,21 C,-0.165,10,10,61.0,49,41,7,1,...,NaN,-0.39,0.0,-2.21,-31.824,0.550,-1.660,-0.219,147627,14762
407,김병휘,21 2B,0.045,8,2,27.0,15,5,9,1,...,NaN,0.00,0.0,0.38,6.840,0.069,0.449,0.038,145777,14577
408,크레익,21 1B,-0.448,47,44,366.0,277,256,18,3,...,NaN,0.00,0.0,-2.78,-8.517,-1.732,-4.512,-0.276,149907,14990
409,정은원,21 2B,0.143,126,123,1024.0,512,220,279,13,...,NaN,0.00,0.0,-4.01,-4.583,5.447,1.437,-0.398,131379,13137

In [8]:
df1= df1.rename(columns={
    'Name': '선수'
})

In [9]:
df2= df2.rename(columns={
    'Name': '선수'
})

In [10]:
df1= df1.rename(columns={
    'pid': 'pid_new'
})

In [11]:
df1= df1.rename(columns={
    '기존pid': 'pid'
})

In [12]:
df3 = df3[['선수','연봉(만원)','WAR', '팀', 'pid']]
df3

      선수 연봉(만원)    WAR        팀    pid
0    정우람  80000  -0.40   한화 이글스  10156
1     힐리  50000   0.63   한화 이글스  14761
2    이성열  40000  -0.07   한화 이글스  10168
3    카펜터  30000   2.79   한화 이글스  14760
4    페레즈  30000   0.72   한화 이글스  14991
..   ...    ...    ...      ...    ...
819  박주성   3000  -0.03  키움 히어로즈  14130
820  박준형   3000      -  키움 히어로즈  14211
821  이명기   3000   0.06  키움 히어로즈  14212
822  김신회   3000      -  키움 히어로즈  14218
823  박성우   2700      -  키움 히어로즈  14852

[824 rows x 5 columns]

In [13]:
# 두 데이터프레임 모두 'pid'를 문자열(str)로 통일
df1['pid'] = df1['pid'].astype(str)
df3['pid'] = df3['pid'].astype(str)

# 두 컬럼 모두 기준으로 병합
df_2021_bat = df1.merge(df3[['선수','연봉(만원)','WAR','팀', 'pid']], 
                on=['선수', 'pid'], 
                how='left')
df_2021_bat

,선수,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid,연봉(만원),WAR,팀
0,하주석,21 SS,0.692,113,111,923.2,376,131,231,14,...,-2.48,-2.580,9.460,6.980,-0.246,109139,10913,13500,3.17,한화 이글스
1,이해창,21 C,0.180,20,16,149.0,129,112,16,1,...,0.37,2.680,1.440,1.810,0.037,103919,10391,6000,-0.30,한화 이글스
2,김현민,21 2B,0.089,3,1,13.0,7,2,5,0,...,0.85,24.460,0.050,0.900,0.084,142099,14209,3100,-0.14,한화 이글스
3,이성열,21 1B,0.019,10,7,64.0,52,46,5,1,...,0.76,2.370,-0.560,0.200,0.075,101689,10168,40000,-0.07,한화 이글스
4,장규현,21 C,0.019,4,1,16.0,12,12,0,0,...,0.05,1.010,0.140,0.190,0.005,148119,14811,3000,-0.02,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,이동훈,21 CF,-0.130,26,15,150.0,55,53,1,1,...,-1.31,-7.255,-0.003,-1.313,-0.130,125269,12526,3300,-0.51,한화 이글스
406,프레이타스,21 C,-0.165,10,10,61.0,49,41,7,1,...,-2.21,-31.824,0.550,-1.660,-0.219,147627,14762,55000,-0.76,키움 히어로즈
407,김병휘,21 2B,0.045,8,2,27.0,15,5,9,1,...,0.38,6.840,0.069,0.449,0.038,145777,14577,3000,0.03,키움 히어로즈
408,크레익,21 1B,-0.448,47,44,366.0,277,256,18,3,...,-2.78,-8.517,-1.732,-4.512,-0.276,149907,14990,37100,-0.21,키움 히어로즈
409,정은원,21 2B,0.143,126,123,1024.0,512,220,279,13,...,-4.01,-4.583,5.447,1.437,-0.398,131379,13137,12000,4.46,한화 이글스

In [14]:
print(df_2021_bat.isnull().sum()[df_2021_bat.isnull().sum() > 0])

WAAwithPOS    120
Range RAA     118
Arm RAA       206
Err RAA       115
DP RAA        211
Bt RAA        190
CS RAA        374
Blk RAA       194
Frm RAA       231
/144           12
POSAdj        120
RAAwithPOS    120
연봉(만원)          1
WAR             1
팀               1
dtype: int64

In [15]:
df_2021_bat = df_2021_bat.dropna(subset=['연봉(만원)', '팀'])

In [16]:
df_2021_bat

,선수,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid,연봉(만원),WAR,팀
0,하주석,21 SS,0.692,113,111,923.2,376,131,231,14,...,-2.48,-2.580,9.460,6.980,-0.246,109139,10913,13500,3.17,한화 이글스
1,이해창,21 C,0.180,20,16,149.0,129,112,16,1,...,0.37,2.680,1.440,1.810,0.037,103919,10391,6000,-0.30,한화 이글스
2,김현민,21 2B,0.089,3,1,13.0,7,2,5,0,...,0.85,24.460,0.050,0.900,0.084,142099,14209,3100,-0.14,한화 이글스
3,이성열,21 1B,0.019,10,7,64.0,52,46,5,1,...,0.76,2.370,-0.560,0.200,0.075,101689,10168,40000,-0.07,한화 이글스
4,장규현,21 C,0.019,4,1,16.0,12,12,0,0,...,0.05,1.010,0.140,0.190,0.005,148119,14811,3000,-0.02,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,이동훈,21 CF,-0.130,26,15,150.0,55,53,1,1,...,-1.31,-7.255,-0.003,-1.313,-0.130,125269,12526,3300,-0.51,한화 이글스
406,프레이타스,21 C,-0.165,10,10,61.0,49,41,7,1,...,-2.21,-31.824,0.550,-1.660,-0.219,147627,14762,55000,-0.76,키움 히어로즈
407,김병휘,21 2B,0.045,8,2,27.0,15,5,9,1,...,0.38,6.840,0.069,0.449,0.038,145777,14577,3000,0.03,키움 히어로즈
408,크레익,21 1B,-0.448,47,44,366.0,277,256,18,3,...,-2.78,-8.517,-1.732,-4.512,-0.276,149907,14990,37100,-0.21,키움 히어로즈
409,정은원,21 2B,0.143,126,123,1024.0,512,220,279,13,...,-4.01,-4.583,5.447,1.437,-0.398,131379,13137,12000,4.46,한화 이글스

In [17]:
df2 = df2.dropna(subset=[ '팀'])

In [18]:
df2['pid'] = df2['pid'].astype(float).astype(int)
df2

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid
1,1,킹험,21 P,4.59,25,25,0,0,0,0,...,4,3.19,3.63,3.59,3.62,3.39,1.1,4.59,한화 이글스,14582
2,2,김민우,21 P,4.4,29,28,1,0,0,0,...,5,4.0,4.11,3.84,3.93,4.56,1.33,4.4,한화 이글스,11410
3,3,카펜터,21 P,3.25,31,30,1,0,0,0,...,7,3.97,4.76,4.65,4.78,3.91,1.31,3.25,한화 이글스,14760
4,4,강재민,21 P,2.22,58,0,58,18,0,0,...,1,2.13,2.27,3.21,3.37,3.39,1.22,2.22,한화 이글스,14708
5,5,윤대경,21 P,1.71,43,9,34,2,0,0,...,3,3.94,4.06,4.19,4.27,4.81,1.38,1.71,한화 이글스,11110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,26,임규빈,21 P,-0.25,5,0,5,4,0,0,...,0,10.38,10.38,12.51,12.16,7.59,1.96,-0.25,키움 히어로즈,13010
309,27,김선기,21 P,-0.29,21,7,14,5,0,0,...,4,6.52,7.08,6.66,6.75,5.56,1.55,-0.29,키움 히어로즈,13092
310,28,이승호,21 P,-0.36,38,3,35,5,0,0,...,8,5.51,7.42,7.12,7.45,4.78,1.82,-0.36,키움 히어로즈,12865
311,29,박관진,21 P,-0.39,2,0,2,0,0,0,...,0,81.0,99.99,100.58,102.94,22.37,12.0,-0.39,키움 히어로즈,14693
312,30,오주원,21 P,-0.52,22,0,22,11,0,0,...,1,9.31,9.31,8.91,9.62,4.67,2.02,-0.52,키움 히어로즈,10445

In [19]:

# 두 데이터프레임 모두 'pid'를 문자열(str)로 통일
df2['pid'] = df2['pid'].astype(str)
df3['pid'] = df3['pid'].astype(str)

# 두 컬럼 모두 기준으로 병합
df_2021_pit = df2.merge(df3[['선수','연봉(만원)', '팀', 'pid']], 
                on=['선수', 'pid'], 
                how='left')
df_2021_pit

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀_x,pid,연봉(만원),팀_y
0,1,킹험,21 P,4.59,25,25,0,0,0,0,...,3.63,3.59,3.62,3.39,1.1,4.59,한화 이글스,14582,25000,한화 이글스
1,2,김민우,21 P,4.4,29,28,1,0,0,0,...,4.11,3.84,3.93,4.56,1.33,4.4,한화 이글스,11410,9000,한화 이글스
2,3,카펜터,21 P,3.25,31,30,1,0,0,0,...,4.76,4.65,4.78,3.91,1.31,3.25,한화 이글스,14760,30000,한화 이글스
3,4,강재민,21 P,2.22,58,0,58,18,0,0,...,2.27,3.21,3.37,3.39,1.22,2.22,한화 이글스,14708,7900,한화 이글스
4,5,윤대경,21 P,1.71,43,9,34,2,0,0,...,4.06,4.19,4.27,4.81,1.38,1.71,한화 이글스,11110,7700,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,26,임규빈,21 P,-0.25,5,0,5,4,0,0,...,10.38,12.51,12.16,7.59,1.96,-0.25,키움 히어로즈,13010,4500,키움 히어로즈
308,27,김선기,21 P,-0.29,21,7,14,5,0,0,...,7.08,6.66,6.75,5.56,1.55,-0.29,키움 히어로즈,13092,5300,키움 히어로즈
309,28,이승호,21 P,-0.36,38,3,35,5,0,0,...,7.42,7.12,7.45,4.78,1.82,-0.36,키움 히어로즈,12865,10000,키움 히어로즈
310,29,박관진,21 P,-0.39,2,0,2,0,0,0,...,99.99,100.58,102.94,22.37,12.0,-0.39,키움 히어로즈,14693,3000,키움 히어로즈
311,30,오주원,21 P,-0.52,22,0,22,11,0,0,...,9.31,8.91,9.62,4.67,2.02,-0.52,키움 히어로즈,10445,20000,키움 히어로즈

In [20]:
print(df_2021_pit.isnull().sum()[df_2021_pit.isnull().sum() > 0])

연봉(만원)    1
팀_y       1
dtype: int64

In [21]:
df_2021_pit = df_2021_pit.dropna(subset=['연봉(만원)', '팀_y'])

In [22]:
df_2021_pit = df_2021_pit.drop([ '팀_y'], axis=1)

In [23]:
df_2021_pit= df_2021_pit.rename(columns={
    '팀_x': '팀'
})

In [24]:
df_2021_pit= df_2021_pit.rename(columns={
    'WAR▼': 'WAR'
})

In [25]:
# 포지션 영어-한글 매핑 딕셔너리
position_map = {
    '21 P': '투수',
    '21 C': '포수',
    '21 1B': '1루수',
    '21 2B': '2루수',
    '21 3B': '3루수',
    '21 SS': '유격수',
    '21 LF': '좌익수',
    '21 CF': '중견수',
    '21 RF': '우익수',
    '21 DH': '지명타자'
}

# 포지션 컬럼 값 변경
df_2021_pit['Team'] = df_2021_pit['Team'].replace(position_map)
df_2021_pit

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR,팀,pid,연봉(만원)
0,1,킹험,투수,4.59,25,25,0,0,0,0,...,3.19,3.63,3.59,3.62,3.39,1.1,4.59,한화 이글스,14582,25000
1,2,김민우,투수,4.4,29,28,1,0,0,0,...,4.0,4.11,3.84,3.93,4.56,1.33,4.4,한화 이글스,11410,9000
2,3,카펜터,투수,3.25,31,30,1,0,0,0,...,3.97,4.76,4.65,4.78,3.91,1.31,3.25,한화 이글스,14760,30000
3,4,강재민,투수,2.22,58,0,58,18,0,0,...,2.13,2.27,3.21,3.37,3.39,1.22,2.22,한화 이글스,14708,7900
4,5,윤대경,투수,1.71,43,9,34,2,0,0,...,3.94,4.06,4.19,4.27,4.81,1.38,1.71,한화 이글스,11110,7700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,26,임규빈,투수,-0.25,5,0,5,4,0,0,...,10.38,10.38,12.51,12.16,7.59,1.96,-0.25,키움 히어로즈,13010,4500
308,27,김선기,투수,-0.29,21,7,14,5,0,0,...,6.52,7.08,6.66,6.75,5.56,1.55,-0.29,키움 히어로즈,13092,5300
309,28,이승호,투수,-0.36,38,3,35,5,0,0,...,5.51,7.42,7.12,7.45,4.78,1.82,-0.36,키움 히어로즈,12865,10000
310,29,박관진,투수,-0.39,2,0,2,0,0,0,...,81.0,99.99,100.58,102.94,22.37,12.0,-0.39,키움 히어로즈,14693,3000
311,30,오주원,투수,-0.52,22,0,22,11,0,0,...,9.31,9.31,8.91,9.62,4.67,2.02,-0.52,키움 히어로즈,10445,20000

In [26]:
# 포지션 컬럼 값 변경
df_2021_bat['Team'] = df_2021_bat['Team'].replace(position_map)
df_2021_bat

,선수,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid,연봉(만원),WAR,팀
0,하주석,유격수,0.692,113,111,923.2,376,131,231,14,...,-2.48,-2.580,9.460,6.980,-0.246,109139,10913,13500,3.17,한화 이글스
1,이해창,포수,0.180,20,16,149.0,129,112,16,1,...,0.37,2.680,1.440,1.810,0.037,103919,10391,6000,-0.30,한화 이글스
2,김현민,2루수,0.089,3,1,13.0,7,2,5,0,...,0.85,24.460,0.050,0.900,0.084,142099,14209,3100,-0.14,한화 이글스
3,이성열,1루수,0.019,10,7,64.0,52,46,5,1,...,0.76,2.370,-0.560,0.200,0.075,101689,10168,40000,-0.07,한화 이글스
4,장규현,포수,0.019,4,1,16.0,12,12,0,0,...,0.05,1.010,0.140,0.190,0.005,148119,14811,3000,-0.02,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,이동훈,중견수,-0.130,26,15,150.0,55,53,1,1,...,-1.31,-7.255,-0.003,-1.313,-0.130,125269,12526,3300,-0.51,한화 이글스
406,프레이타스,포수,-0.165,10,10,61.0,49,41,7,1,...,-2.21,-31.824,0.550,-1.660,-0.219,147627,14762,55000,-0.76,키움 히어로즈
407,김병휘,2루수,0.045,8,2,27.0,15,5,9,1,...,0.38,6.840,0.069,0.449,0.038,145777,14577,3000,0.03,키움 히어로즈
408,크레익,1루수,-0.448,47,44,366.0,277,256,18,3,...,-2.78,-8.517,-1.732,-4.512,-0.276,149907,14990,37100,-0.21,키움 히어로즈
409,정은원,2루수,0.143,126,123,1024.0,512,220,279,13,...,-4.01,-4.583,5.447,1.437,-0.398,131379,13137,12000,4.46,한화 이글스

In [27]:
df_2021_bat.columns

Index(['선수', 'Team', 'WAAwithPOS', 'G', 'GS', 'IP', 'TC', 'PO', 'Ass', 'E',
       'F%', 'RF9', 'Range RAA', 'Arm RAA', 'Err RAA', 'DP RAA', 'Bt RAA',
       'CS RAA', 'Blk RAA', 'Frm RAA', '종합 RAA', '/144', 'POSAdj',
       'RAAwithPOS', 'WAAwoPOS', 'pid_new', 'pid', '연봉(만원)', 'WAR', '팀'],
      dtype='object')

In [28]:
df_2021_bat['연도'] = 2021

In [29]:
df_2021_pit['연도'] = 2021

In [30]:
df_2021_pit.to_csv("2021년_투수_스탯_연봉_데이터.csv",  index=False, encoding='utf-8-sig')

In [31]:
df_2021_bat.to_csv("2021년_수비_스탯_연봉_데이터.csv",  index=False, encoding='utf-8-sig')

In [32]:
df_2021_total = pd.concat([df_2021_pit.assign(포지션구분='투수'),
                           df_2021_bat.assign(포지션구분='타자')],
                          ignore_index=True)
df_2021_total

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new
0,1,킹험,투수,4.59,25,25,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,김민우,투수,4.4,29,28,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,카펜터,투수,3.25,31,30,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,강재민,투수,2.22,58,0,58,18,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,윤대경,투수,1.71,43,9,34,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,NaN,이동훈,중견수,NaN,26,15,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-1.31,-7.255,-0.003,-1.313,-0.130,125269.0
716,NaN,프레이타스,포수,NaN,10,10,NaN,NaN,NaN,NaN,...,-0.54,NaN,-0.39,0.0,-2.21,-31.824,0.550,-1.660,-0.219,147627.0
717,NaN,김병휘,2루수,NaN,8,2,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,0.38,6.840,0.069,0.449,0.038,145777.0
718,NaN,크레익,1루수,NaN,47,44,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-2.78,-8.517,-1.732,-4.512,-0.276,149907.0
719,NaN,정은원,2루수,NaN,126,123,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-4.01,-4.583,5.447,1.437,-0.398,131379.0

In [33]:
df_2021_total = df_2021_total.drop([ 'Rank'], axis=1)

In [34]:
df_2021_total

,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,W,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new
0,킹험,투수,4.59,25,25,0,0,0,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,김민우,투수,4.4,29,28,1,0,0,0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,카펜터,투수,3.25,31,30,1,0,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강재민,투수,2.22,58,0,58,18,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,윤대경,투수,1.71,43,9,34,2,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,이동훈,중견수,NaN,26,15,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-1.31,-7.255,-0.003,-1.313,-0.130,125269.0
716,프레이타스,포수,NaN,10,10,NaN,NaN,NaN,NaN,NaN,...,-0.54,NaN,-0.39,0.0,-2.21,-31.824,0.550,-1.660,-0.219,147627.0
717,김병휘,2루수,NaN,8,2,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,0.38,6.840,0.069,0.449,0.038,145777.0
718,크레익,1루수,NaN,47,44,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-2.78,-8.517,-1.732,-4.512,-0.276,149907.0
719,정은원,2루수,NaN,126,123,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,0.00,0.0,-4.01,-4.583,5.447,1.437,-0.398,131379.0

In [35]:
df_2021_total.to_csv("2021년_투수타자_데이터.csv",  index=False, encoding='utf-8-sig')

In [36]:
df4 = pd.read_csv('2022_수비통합_statiz.csv')
df4

,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid
0,최재훈,22 C,1.479,106,101,853.2,725,644,78,3,...,-0.41,1.74,2.67,NaN,4.51,5.700,9.840,14.350,0.465,101709
1,이성곤,22 1B,0.048,28,20,175.1,174,161,11,2,...,0.00,NaN,NaN,NaN,2.07,7.250,-1.600,0.470,0.213,112069
2,백용환,22 C,0.012,1,0,3.0,4,4,0,0,...,NaN,NaN,0.08,NaN,0.06,2.320,0.050,0.110,0.007,100039
3,이해창,22 C,-0.024,4,3,26.0,21,19,2,0,...,-0.29,-0.39,0.26,NaN,-0.50,-17.970,0.260,-0.240,-0.051,103919
4,허관회,22 C,-0.084,5,1,13.0,14,13,1,0,...,NaN,-0.40,-0.71,NaN,-0.94,-9.020,0.120,-0.820,-0.097,142049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,임종찬,22 RF,-0.013,20,17,138.0,27,24,2,1,...,0.00,NaN,0.00,0.0,0.39,2.808,-0.513,-0.123,0.040,147069
360,전병우,22 1B,0.024,116,43,548.0,587,533,48,6,...,0.00,NaN,0.00,0.0,3.89,4.829,-3.658,0.232,0.401,114227
361,권광민,22 LF,-0.164,29,20,184.0,47,47,0,0,...,0.00,NaN,0.00,0.0,-1.14,-5.661,-0.450,-1.590,-0.118,136769
362,노수광,22 LF,-0.029,104,83,719.0,201,192,5,4,...,0.00,NaN,0.00,0.0,2.34,3.240,-2.620,-0.280,0.241,112689
363,하주석,22 SS,0.275,111,104,900.0,431,136,276,19,...,0.00,NaN,0.00,0.0,-5.60,-7.265,8.265,2.665,-0.577,109139

In [37]:
df5 = pd.read_csv('2022_투구_statiz.csv')
df5

,Rank,Name,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid
0,Rank,Name,Team,WAR,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,NaN,NaN
1,1,김민우,22 P,3.36,29,29,0,1,1,0,...,13,4.36,4.53,4.31,4.33,4.61,1.39,3.36,한화 이글스,11410.0
2,2,장민재,22 P,3.33,32,25,7,1,0,0,...,3,3.55,3.84,3.84,3.82,4.74,1.29,3.33,한화 이글스,10610.0
3,3,페냐,22 P,1.52,13,13,0,0,0,0,...,4,3.72,4.39,4.12,4.16,3.39,1.37,1.52,한화 이글스,15146.0
4,4,라미레즈,22 P,1.33,13,13,0,0,0,0,...,0,4.13,4.55,4.26,4.36,4.8,1.36,1.33,한화 이글스,15145.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,21,송정인,22 P,-0.21,1,0,1,0,0,0,...,0,22.5,22.5,22.5,23.85,8.43,3.5,-0.21,키움 히어로즈,15069.0
281,22,박주성,22 P,-0.25,11,0,11,7,0,0,...,0,5.54,6.23,8.03,8.23,8.05,1.38,-0.25,키움 히어로즈,14130.0
282,23,노운현,22 P,-0.3,5,0,5,1,0,0,...,1,11.25,15.75,14.96,16.22,5.01,3.25,-0.3,키움 히어로즈,15027.0
283,24,하영민,22 P,-0.73,41,0,41,17,0,0,...,2,3.43,6.18,6.99,7.4,5.19,1.42,-0.73,키움 히어로즈,11222.0
284,25,김성진,22 P,-0.94,23,0,23,8,0,0,...,0,7.89,10.38,10.03,10.11,5.45,1.89,-0.94,키움 히어로즈,14849.0

In [38]:
df6 = pd.read_csv('2022_연봉_statiz.csv')
df6

      선수  연봉(만원)   WAR WAR당 연봉        팀    pid
0    최재훈  100000  2.06   48459   한화 이글스  10170
1    정우람   80000  0.20  395107   한화 이글스  10156
2     킹험   70000  0.46  151248   한화 이글스  14582
3    터크먼   70000  4.05   17268   한화 이글스  15012
4     페냐   40000  1.39   28851   한화 이글스  15146
..   ...     ...   ...     ...      ...    ...
841  박정훈    3000     -       -  키움 히어로즈  15076
842  김민수    3000     -       -  키움 히어로즈  15077
843  오성민    2700     -       -  키움 히어로즈  15131
844  박수종    2700     -       -  키움 히어로즈  15132
845  류하성    1500     -       -  키움 히어로즈  15130

[846 rows x 6 columns]

In [39]:
df4['기존pid'] = df4['pid'].astype(str).str[:-1]

In [40]:
df4

,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid,기존pid
0,최재훈,22 C,1.479,106,101,853.2,725,644,78,3,...,1.74,2.67,NaN,4.51,5.700,9.840,14.350,0.465,101709,10170
1,이성곤,22 1B,0.048,28,20,175.1,174,161,11,2,...,NaN,NaN,NaN,2.07,7.250,-1.600,0.470,0.213,112069,11206
2,백용환,22 C,0.012,1,0,3.0,4,4,0,0,...,NaN,0.08,NaN,0.06,2.320,0.050,0.110,0.007,100039,10003
3,이해창,22 C,-0.024,4,3,26.0,21,19,2,0,...,-0.39,0.26,NaN,-0.50,-17.970,0.260,-0.240,-0.051,103919,10391
4,허관회,22 C,-0.084,5,1,13.0,14,13,1,0,...,-0.40,-0.71,NaN,-0.94,-9.020,0.120,-0.820,-0.097,142049,14204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,임종찬,22 RF,-0.013,20,17,138.0,27,24,2,1,...,NaN,0.00,0.0,0.39,2.808,-0.513,-0.123,0.040,147069,14706
360,전병우,22 1B,0.024,116,43,548.0,587,533,48,6,...,NaN,0.00,0.0,3.89,4.829,-3.658,0.232,0.401,114227,11422
361,권광민,22 LF,-0.164,29,20,184.0,47,47,0,0,...,NaN,0.00,0.0,-1.14,-5.661,-0.450,-1.590,-0.118,136769,13676
362,노수광,22 LF,-0.029,104,83,719.0,201,192,5,4,...,NaN,0.00,0.0,2.34,3.240,-2.620,-0.280,0.241,112689,11268
363,하주석,22 SS,0.275,111,104,900.0,431,136,276,19,...,NaN,0.00,0.0,-5.60,-7.265,8.265,2.665,-0.577,109139,10913

In [41]:
df4= df4.rename(columns={
    'pid': 'pid_new'
    
})

In [42]:
df4= df4.rename(columns={
    '기존pid': 'pid'
    
})

In [43]:
df4

,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid
0,최재훈,22 C,1.479,106,101,853.2,725,644,78,3,...,1.74,2.67,NaN,4.51,5.700,9.840,14.350,0.465,101709,10170
1,이성곤,22 1B,0.048,28,20,175.1,174,161,11,2,...,NaN,NaN,NaN,2.07,7.250,-1.600,0.470,0.213,112069,11206
2,백용환,22 C,0.012,1,0,3.0,4,4,0,0,...,NaN,0.08,NaN,0.06,2.320,0.050,0.110,0.007,100039,10003
3,이해창,22 C,-0.024,4,3,26.0,21,19,2,0,...,-0.39,0.26,NaN,-0.50,-17.970,0.260,-0.240,-0.051,103919,10391
4,허관회,22 C,-0.084,5,1,13.0,14,13,1,0,...,-0.40,-0.71,NaN,-0.94,-9.020,0.120,-0.820,-0.097,142049,14204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,임종찬,22 RF,-0.013,20,17,138.0,27,24,2,1,...,NaN,0.00,0.0,0.39,2.808,-0.513,-0.123,0.040,147069,14706
360,전병우,22 1B,0.024,116,43,548.0,587,533,48,6,...,NaN,0.00,0.0,3.89,4.829,-3.658,0.232,0.401,114227,11422
361,권광민,22 LF,-0.164,29,20,184.0,47,47,0,0,...,NaN,0.00,0.0,-1.14,-5.661,-0.450,-1.590,-0.118,136769,13676
362,노수광,22 LF,-0.029,104,83,719.0,201,192,5,4,...,NaN,0.00,0.0,2.34,3.240,-2.620,-0.280,0.241,112689,11268
363,하주석,22 SS,0.275,111,104,900.0,431,136,276,19,...,NaN,0.00,0.0,-5.60,-7.265,8.265,2.665,-0.577,109139,10913

In [44]:
df6 = df6[['선수','연봉(만원)','WAR', '팀', 'pid']]
df6

      선수  연봉(만원)   WAR        팀    pid
0    최재훈  100000  2.06   한화 이글스  10170
1    정우람   80000  0.20   한화 이글스  10156
2     킹험   70000  0.46   한화 이글스  14582
3    터크먼   70000  4.05   한화 이글스  15012
4     페냐   40000  1.39   한화 이글스  15146
..   ...     ...   ...      ...    ...
841  박정훈    3000     -  키움 히어로즈  15076
842  김민수    3000     -  키움 히어로즈  15077
843  오성민    2700     -  키움 히어로즈  15131
844  박수종    2700     -  키움 히어로즈  15132
845  류하성    1500     -  키움 히어로즈  15130

[846 rows x 5 columns]

In [45]:
df4= df4.rename(columns={
    'Name': '선수'
})
df5= df5.rename(columns={
    'Name': '선수'
})

In [46]:
# 두 데이터프레임 모두 'pid'를 문자열(str)로 통일
df4['pid'] = df4['pid'].astype(str)
df6['pid'] = df6['pid'].astype(str)

# 두 컬럼 모두 기준으로 병합
df_2022_bat = df4.merge(df6[['선수','연봉(만원)','WAR', '팀', 'pid']], 
                on=['선수', 'pid'], 
                how='left')
df_2022_bat

,선수,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid,연봉(만원),WAR,팀
0,최재훈,22 C,1.479,106,101,853.2,725,644,78,3,...,4.51,5.700,9.840,14.350,0.465,101709,10170,100000,2.06,한화 이글스
1,이성곤,22 1B,0.048,28,20,175.1,174,161,11,2,...,2.07,7.250,-1.600,0.470,0.213,112069,11206,6400,0.20,한화 이글스
2,백용환,22 C,0.012,1,0,3.0,4,4,0,0,...,0.06,2.320,0.050,0.110,0.007,100039,10003,4000,-0.01,한화 이글스
3,이해창,22 C,-0.024,4,3,26.0,21,19,2,0,...,-0.50,-17.970,0.260,-0.240,-0.051,103919,10391,6000,-0.28,한화 이글스
4,허관회,22 C,-0.084,5,1,13.0,14,13,1,0,...,-0.94,-9.020,0.120,-0.820,-0.097,142049,14204,3370,-0.15,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,임종찬,22 RF,-0.013,20,17,138.0,27,24,2,1,...,0.39,2.808,-0.513,-0.123,0.040,147069,14706,3600,-0.30,한화 이글스
360,전병우,22 1B,0.024,116,43,548.0,587,533,48,6,...,3.89,4.829,-3.658,0.232,0.401,114227,11422,7000,0.37,키움 히어로즈
361,권광민,22 LF,-0.164,29,20,184.0,47,47,0,0,...,-1.14,-5.661,-0.450,-1.590,-0.118,136769,13676,3000,0.03,한화 이글스
362,노수광,22 LF,-0.029,104,83,719.0,201,192,5,4,...,2.34,3.240,-2.620,-0.280,0.241,112689,11268,12840,1.69,한화 이글스
363,하주석,22 SS,0.275,111,104,900.0,431,136,276,19,...,-5.60,-7.265,8.265,2.665,-0.577,109139,10913,20090,0.97,한화 이글스

In [47]:
print(df_2022_bat.isnull().sum()[df_2022_bat.isnull().sum() > 0])

WAAwithPOS     89
Range RAA      85
Arm RAA       163
Err RAA        84
DP RAA        177
Bt RAA        143
CS RAA        323
Blk RAA       139
Frm RAA       186
/144           13
POSAdj         89
RAAwithPOS     89
dtype: int64

In [48]:
df5 = df5.dropna(subset=[ '팀'])

In [49]:
df5['pid'] = df5['pid'].astype(float).astype(int)
df5

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid
1,1,김민우,22 P,3.36,29,29,0,1,1,0,...,13,4.36,4.53,4.31,4.33,4.61,1.39,3.36,한화 이글스,11410
2,2,장민재,22 P,3.33,32,25,7,1,0,0,...,3,3.55,3.84,3.84,3.82,4.74,1.29,3.33,한화 이글스,10610
3,3,페냐,22 P,1.52,13,13,0,0,0,0,...,4,3.72,4.39,4.12,4.16,3.39,1.37,1.52,한화 이글스,15146
4,4,라미레즈,22 P,1.33,13,13,0,0,0,0,...,0,4.13,4.55,4.26,4.36,4.8,1.36,1.33,한화 이글스,15145
5,5,윤산흠,22 P,1.06,37,0,37,7,0,0,...,6,2.67,3.21,3.06,3.04,3.48,1.57,1.06,한화 이글스,14196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,21,송정인,22 P,-0.21,1,0,1,0,0,0,...,0,22.5,22.5,22.5,23.85,8.43,3.5,-0.21,키움 히어로즈,15069
281,22,박주성,22 P,-0.25,11,0,11,7,0,0,...,0,5.54,6.23,8.03,8.23,8.05,1.38,-0.25,키움 히어로즈,14130
282,23,노운현,22 P,-0.3,5,0,5,1,0,0,...,1,11.25,15.75,14.96,16.22,5.01,3.25,-0.3,키움 히어로즈,15027
283,24,하영민,22 P,-0.73,41,0,41,17,0,0,...,2,3.43,6.18,6.99,7.4,5.19,1.42,-0.73,키움 히어로즈,11222
284,25,김성진,22 P,-0.94,23,0,23,8,0,0,...,0,7.89,10.38,10.03,10.11,5.45,1.89,-0.94,키움 히어로즈,14849

In [50]:

# 두 데이터프레임 모두 'pid'를 문자열(str)로 통일
df5['pid'] = df5['pid'].astype(str)
df6['pid'] = df6['pid'].astype(str)

# 두 컬럼 모두 기준으로 병합
df_2022_pit = df5.merge(df6[['선수','연봉(만원)','WAR', '팀', 'pid']], 
                on=['선수', 'pid'], 
                how='left')
df_2022_pit

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀_x,pid,연봉(만원),WAR,팀_y
0,1,김민우,22 P,3.36,29,29,0,1,1,0,...,4.31,4.33,4.61,1.39,3.36,한화 이글스,11410,19100,3.24,한화 이글스
1,2,장민재,22 P,3.33,32,25,7,1,0,0,...,3.84,3.82,4.74,1.29,3.33,한화 이글스,10610,7600,3.15,한화 이글스
2,3,페냐,22 P,1.52,13,13,0,0,0,0,...,4.12,4.16,3.39,1.37,1.52,한화 이글스,15146,40000,1.39,한화 이글스
3,4,라미레즈,22 P,1.33,13,13,0,0,0,0,...,4.26,4.36,4.8,1.36,1.33,한화 이글스,15145,27500,1.39,한화 이글스
4,5,윤산흠,22 P,1.06,37,0,37,7,0,0,...,3.06,3.04,3.48,1.57,1.06,한화 이글스,14196,3100,0.93,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,21,송정인,22 P,-0.21,1,0,1,0,0,0,...,22.5,23.85,8.43,3.5,-0.21,키움 히어로즈,15069,3000,-0.06,키움 히어로즈
280,22,박주성,22 P,-0.25,11,0,11,7,0,0,...,8.03,8.23,8.05,1.38,-0.25,키움 히어로즈,14130,4000,-0.16,키움 히어로즈
281,23,노운현,22 P,-0.3,5,0,5,1,0,0,...,14.96,16.22,5.01,3.25,-0.3,키움 히어로즈,15027,3000,-0.11,키움 히어로즈
282,24,하영민,22 P,-0.73,41,0,41,17,0,0,...,6.99,7.4,5.19,1.42,-0.73,키움 히어로즈,11222,4000,-0.55,키움 히어로즈
283,25,김성진,22 P,-0.94,23,0,23,8,0,0,...,10.03,10.11,5.45,1.89,-0.94,키움 히어로즈,14849,5000,-0.55,키움 히어로즈

In [51]:
print(df_2022_pit.isnull().sum()[df_2022_pit.isnull().sum() > 0])

Series([], dtype: int64)

In [52]:
df_2022_pit = df_2022_pit.drop([ '팀_y'], axis=1)

In [53]:
df_2022_pit= df_2022_pit.rename(columns={
    '팀_x': '팀'
})

In [54]:
# 포지션 영어-한글 매핑 딕셔너리
position_map = {
    '22 P': '투수',
    '22 C': '포수',
    '22 1B': '1루수',
    '22 2B': '2루수',
    '22 3B': '3루수',
    '22 SS': '유격수',
    '22 LF': '좌익수',
    '22 CF': '중견수',
    '22 RF': '우익수',
    '22 DH': '지명타자'
}

# 포지션 컬럼 값 변경
df_2022_pit['Team'] = df_2022_pit['Team'].replace(position_map)
df_2022_pit

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid,연봉(만원),WAR
0,1,김민우,투수,3.36,29,29,0,1,1,0,...,4.53,4.31,4.33,4.61,1.39,3.36,한화 이글스,11410,19100,3.24
1,2,장민재,투수,3.33,32,25,7,1,0,0,...,3.84,3.84,3.82,4.74,1.29,3.33,한화 이글스,10610,7600,3.15
2,3,페냐,투수,1.52,13,13,0,0,0,0,...,4.39,4.12,4.16,3.39,1.37,1.52,한화 이글스,15146,40000,1.39
3,4,라미레즈,투수,1.33,13,13,0,0,0,0,...,4.55,4.26,4.36,4.8,1.36,1.33,한화 이글스,15145,27500,1.39
4,5,윤산흠,투수,1.06,37,0,37,7,0,0,...,3.21,3.06,3.04,3.48,1.57,1.06,한화 이글스,14196,3100,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,21,송정인,투수,-0.21,1,0,1,0,0,0,...,22.5,22.5,23.85,8.43,3.5,-0.21,키움 히어로즈,15069,3000,-0.06
280,22,박주성,투수,-0.25,11,0,11,7,0,0,...,6.23,8.03,8.23,8.05,1.38,-0.25,키움 히어로즈,14130,4000,-0.16
281,23,노운현,투수,-0.3,5,0,5,1,0,0,...,15.75,14.96,16.22,5.01,3.25,-0.3,키움 히어로즈,15027,3000,-0.11
282,24,하영민,투수,-0.73,41,0,41,17,0,0,...,6.18,6.99,7.4,5.19,1.42,-0.73,키움 히어로즈,11222,4000,-0.55
283,25,김성진,투수,-0.94,23,0,23,8,0,0,...,10.38,10.03,10.11,5.45,1.89,-0.94,키움 히어로즈,14849,5000,-0.55

In [55]:
# 포지션 컬럼 값 변경
df_2022_bat['Team'] = df_2022_bat['Team'].replace(position_map)
df_2022_bat

,선수,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,E,...,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,pid,연봉(만원),WAR,팀
0,최재훈,포수,1.479,106,101,853.2,725,644,78,3,...,4.51,5.700,9.840,14.350,0.465,101709,10170,100000,2.06,한화 이글스
1,이성곤,1루수,0.048,28,20,175.1,174,161,11,2,...,2.07,7.250,-1.600,0.470,0.213,112069,11206,6400,0.20,한화 이글스
2,백용환,포수,0.012,1,0,3.0,4,4,0,0,...,0.06,2.320,0.050,0.110,0.007,100039,10003,4000,-0.01,한화 이글스
3,이해창,포수,-0.024,4,3,26.0,21,19,2,0,...,-0.50,-17.970,0.260,-0.240,-0.051,103919,10391,6000,-0.28,한화 이글스
4,허관회,포수,-0.084,5,1,13.0,14,13,1,0,...,-0.94,-9.020,0.120,-0.820,-0.097,142049,14204,3370,-0.15,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,임종찬,우익수,-0.013,20,17,138.0,27,24,2,1,...,0.39,2.808,-0.513,-0.123,0.040,147069,14706,3600,-0.30,한화 이글스
360,전병우,1루수,0.024,116,43,548.0,587,533,48,6,...,3.89,4.829,-3.658,0.232,0.401,114227,11422,7000,0.37,키움 히어로즈
361,권광민,좌익수,-0.164,29,20,184.0,47,47,0,0,...,-1.14,-5.661,-0.450,-1.590,-0.118,136769,13676,3000,0.03,한화 이글스
362,노수광,좌익수,-0.029,104,83,719.0,201,192,5,4,...,2.34,3.240,-2.620,-0.280,0.241,112689,11268,12840,1.69,한화 이글스
363,하주석,유격수,0.275,111,104,900.0,431,136,276,19,...,-5.60,-7.265,8.265,2.665,-0.577,109139,10913,20090,0.97,한화 이글스

In [56]:
df_2022_bat['연도']=2022
df_2022_pit['연도']=2022

In [57]:
df_2022_pit

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid,연봉(만원),WAR,연도
0,1,김민우,투수,3.36,29,29,0,1,1,0,...,4.31,4.33,4.61,1.39,3.36,한화 이글스,11410,19100,3.24,2022
1,2,장민재,투수,3.33,32,25,7,1,0,0,...,3.84,3.82,4.74,1.29,3.33,한화 이글스,10610,7600,3.15,2022
2,3,페냐,투수,1.52,13,13,0,0,0,0,...,4.12,4.16,3.39,1.37,1.52,한화 이글스,15146,40000,1.39,2022
3,4,라미레즈,투수,1.33,13,13,0,0,0,0,...,4.26,4.36,4.8,1.36,1.33,한화 이글스,15145,27500,1.39,2022
4,5,윤산흠,투수,1.06,37,0,37,7,0,0,...,3.06,3.04,3.48,1.57,1.06,한화 이글스,14196,3100,0.93,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,21,송정인,투수,-0.21,1,0,1,0,0,0,...,22.5,23.85,8.43,3.5,-0.21,키움 히어로즈,15069,3000,-0.06,2022
280,22,박주성,투수,-0.25,11,0,11,7,0,0,...,8.03,8.23,8.05,1.38,-0.25,키움 히어로즈,14130,4000,-0.16,2022
281,23,노운현,투수,-0.3,5,0,5,1,0,0,...,14.96,16.22,5.01,3.25,-0.3,키움 히어로즈,15027,3000,-0.11,2022
282,24,하영민,투수,-0.73,41,0,41,17,0,0,...,6.99,7.4,5.19,1.42,-0.73,키움 히어로즈,11222,4000,-0.55,2022
283,25,김성진,투수,-0.94,23,0,23,8,0,0,...,10.03,10.11,5.45,1.89,-0.94,키움 히어로즈,14849,5000,-0.55,2022

In [58]:
df_2022_pit.to_csv("2022년_투수_스탯_연봉_데이터.csv",  index=False, encoding='utf-8-sig')

In [59]:
df_2022_bat.to_csv("2022년_타자_스탯_연봉_데이터.csv",  index=False, encoding='utf-8-sig')

In [60]:
df_2022_total = pd.concat([df_2022_pit.assign(포지션구분='투수'),
                           df_2022_bat.assign(포지션구분='타자')],
                          ignore_index=True)
df_2022_total

,Rank,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new
0,1,김민우,투수,3.36,29,29,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,장민재,투수,3.33,32,25,7,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,페냐,투수,1.52,13,13,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,라미레즈,투수,1.33,13,13,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,윤산흠,투수,1.06,37,0,37,7,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,NaN,임종찬,우익수,NaN,20,17,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,0.39,2.808,-0.513,-0.123,0.040,147069.0
644,NaN,전병우,1루수,NaN,116,43,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,3.89,4.829,-3.658,0.232,0.401,114227.0
645,NaN,권광민,좌익수,NaN,29,20,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,-1.14,-5.661,-0.450,-1.590,-0.118,136769.0
646,NaN,노수광,좌익수,NaN,104,83,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,2.34,3.240,-2.620,-0.280,0.241,112689.0
647,NaN,하주석,유격수,NaN,111,104,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,-5.60,-7.265,8.265,2.665,-0.577,109139.0

In [61]:
df_2022_total = df_2022_total.drop([ 'Rank'], axis=1)

In [62]:
df_2022_total.to_csv("2022년_투수타자_데이터.csv",  index=False, encoding='utf-8-sig')

In [63]:
df_2223 = pd.concat([df_2021_total, df_2022_total],
                          ignore_index=True)
df_2223

,선수,Team,Sort▼,G,GS,GR,GF,CG,SHO,W,...,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,pid_new,WAR▼
0,킹험,투수,4.59,25,25,0,0,0,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,김민우,투수,4.4,29,28,1,0,0,0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,카펜터,투수,3.25,31,30,1,0,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강재민,투수,2.22,58,0,58,18,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,윤대경,투수,1.71,43,9,34,2,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,임종찬,우익수,NaN,20,17,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.39,2.808,-0.513,-0.123,0.040,147069.0,NaN
1364,전병우,1루수,NaN,116,43,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,3.89,4.829,-3.658,0.232,0.401,114227.0,NaN
1365,권광민,좌익수,NaN,29,20,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,-1.14,-5.661,-0.450,-1.590,-0.118,136769.0,NaN
1366,노수광,좌익수,NaN,104,83,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,2.34,3.240,-2.620,-0.280,0.241,112689.0,NaN
1367,하주석,유격수,NaN,111,104,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,-5.60,-7.265,8.265,2.665,-0.577,109139.0,NaN

In [64]:
df_2223['연도']

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
1363    2022
1364    2022
1365    2022
1366    2022
1367    2022
Name: 연도, Length: 1368, dtype: int64

In [65]:
df_2223.to_csv("2122년_투수타자_데이터.csv",  index=False, encoding='utf-8-sig')